body {
    background-color: #2A2A2A;
}
#last_intro {
    top: 82vw;
    color: white;
    position: absolute;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 16pt;
}

#tutorial {
    top: 89vw;
    color: white;
    position: absolute;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 16pt;
}

#Background {
    position: absolute;
    top: -30vw;
    width: 80vw;
    height: auto;
    transform: rotate(179.5deg);
    z-index: -1;
}

#Arbeit {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Binge {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Essen {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Film {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Fired {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Foto {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Freunde {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Grundlagen {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Know_your_tools {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Kochen {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Nickerchen1 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Nickerchen2 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Nickerchen3 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Nickerchen4 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Schlaf1 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Schlaf2 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Schlaf3 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Schlaf4 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Schlaf5 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Spazieren1 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Spazieren2 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Sport1 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Sport2 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Training {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Typo {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Uni1 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Uni2 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Uni3 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Uni4 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Uni5 {
    position: absolute;
    width: 10vw;
    z-index: 3;  
}

#Uni6 {
    position: absolute;
    width: 10vw;
    z-index: 3;  
}

#Uni7 {
    position: absolute;
    width: 10vw;
    z-index: 3;  
}

#Uni_big {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Yoga1 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Yoga2 {
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 3;  
}

#Mo1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 35vw;
    margin-left: 7vw;
    z-index: 2;
}

#Mo2 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 66vw;
    margin-left: 7vw;
    z-index: 2;
} 

#Mo3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 61vw;
    margin-left: 7vw;
    z-index: 2;
} 

#Tu1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 35vw;
    margin-left: 16.5vw;
    z-index: 2;
}

#Tu2  {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 66vw;
    margin-left: 16.5vw;
    z-index: 2;
} 

#Tu3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 61vw;
    margin-left: 16.5vw;
    z-index: 2;
} 

#We1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 35vw;
    margin-left: 26vw;
    z-index: 2;
}

#We2 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 66vw;
    margin-left: 26vw;
    z-index: 2;
} 

#We3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 61vw;
    margin-left: 26vw;
    z-index: 2;
} 

#Th1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 35vw;
    margin-left: 35.5vw;
    z-index: 2;
}

#Th2 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 66vw;
    margin-left: 35.5vw;
    z-index: 2;
} 

#Th3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 61vw;
    margin-left: 35.5vw;
    z-index: 2;
} 

#Fr1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 35vw;
    margin-left: 44.8vw;
    z-index: 2;
}

#Fr2  {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 66vw;
    margin-left: 44.8vw;
    z-index: 2;
} 

#Fr3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 61vw;
    margin-left: 44.8vw;
    z-index: 2;
} 

#Sa1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 35vw;
    margin-left: 54vw;
    z-index: 2;
}

#Sa2  {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 66vw;
    margin-left: 54vw;
    z-index: 2;
} 

#Sa3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 61vw;
    margin-left: 54vw;
    z-index: 2;
} 

#So1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 35vw;
    margin-left: 63.5vw;
    z-index: 2;
}

#So2 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 66vw;
    margin-left: 63.5vw;
    z-index: 2;
} 

#So3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 61vw;
    margin-left: 63.5vw;
    z-index: 2;
} 

#Sp1 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 4vw;
    margin-left: 80vw;
    z-index: 2;
}

#Sp2 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 26vw;
    margin-top: 4vw;
    margin-left: 90vw;
    z-index: 2;
}

#Sp3 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 30vw;
    margin-left: 80vw;
    z-index: 2;
}

#Sp4 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 30vw;
    margin-left: 90vw;
    z-index: 2;
}

#Sp5 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 38vw;
    margin-left: 80vw;
    z-index: 2;
}

#Sp6 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 38vw;
    margin-left: 90vw;
    z-index: 2;
}

#Sp7 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 8vw;
    margin-top: 46vw;
    margin-left: 80vw;
    z-index: 2;
}

#Sp8 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 54vw;
    margin-left: 80vw;
    z-index: 2;
} 

#Sp9 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 54vw;
    margin-left: 90vw;
    z-index: 2;
} 

#Sp10 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 59vw;
    margin-left: 80vw;
    z-index: 2;
} 

#Sp11 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 59vw;
    margin-left: 90vw;
    z-index: 2;
} 

#Sp12 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 64vw;
    margin-left: 80vw;
    z-index: 2;
} 

#Sp13 {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    position: absolute;
    width: 9vw;
    height: 5vw;
    margin-top: 64vw;
    margin-left: 90vw;
    z-index: 2;
} 
